<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">

</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>THis site was created by Om Verma. This applicaion is completely based on node.js and weather api which helps in fetching the weather data.</p>
    <img class="potrait" src="img/profile.png" alt="">
    </div>
    {{>footer}}
</body>


</html>